@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #ffffff;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #000000;
}

#wrapper{
	background-color:#cccccc;
	height: 650px;
	width: 810px;
}
